**Q1. Write a program to accept percentage from the user and display the grade according to the following criteria:**

In [20]:
# A1.

marks = int(input("Please enter the marks:"))

if marks > 90:
    grade = "A"
elif 80 < marks <= 90:
    grade = "B"
elif 60 <= marks <= 80:
    grade = "C"
else:
    grade = "D"

print("The grade is: {}".format(grade))

Please enter the marks: 45

The grade is: D

**Q2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:**

In [21]:
# A2.

price = int(input("Please enter the price:"))

if price > 100000:
    tax = "15%"

elif 50000 < price <= 100000:
    tax = "10%"

else:
    tax = "5%"

print("The tax is: {}".format(tax))

Please enter the price: 75000

The tax is: 10%

**Q3. Accept any city from the user and display monuments of that city.**

In [26]:
# A3.

city = str(input("Please enter city name:"))

if city == "Delhi":
    monument = "Red Fort"

elif city == "Agra":
    monument = "Taj Mahal"
    
elif city == "Jaipur":
    monument = "Jal Mahal"

print("The monument is: {}".format(monument))

Please enter city name: Delhi

The monument is: Red Fort

**Q4. Check how many times a given number can be divided by 3 before it is less than or equal to 10,**

In [10]:
# A4.

num_input = int(input("Please enter number:"))
count = 0

while num_input > 10:
    num_input /= 3
    count += 1

print(f"The number can be divided {count} times")

Please enter number: 37

The number can be divided 2 times

**Q5. When and why to use while loop in python give a detailed description with example?**

**A5.**

**When to Use a While Loop:**
- **Unknown Iterations:** Use a while loop when you don't know in advance how many times the loop should iterate. For example, when waiting for a user to enter a specific input, or when performing calculations until a certain condition is met.
- **Iterating Over Changing Conditions:** Use a while loop when you need to iterate based on changing conditions within the loop, such as updating variables or user input during the iteration process.
- **Infinite Loop Control:** While loops are useful for creating controlled infinite loops that continue until a specific condition is met to break out of the loop.

**Why Use a While Loop:**
- **Dynamic Iteration:** While loops provide dynamic iteration control based on conditions, allowing you to adapt the iteration process as needed during runtime.
- **Flexible Conditions:** The condition in a while loop can be any expression that evaluates to a boolean value, providing flexibility in defining loop termination criteria.
- **Continual Checking:** While loops continually check the condition before each iteration, ensuring that the loop continues as long as the condition remains true.

In [11]:
# Example:

num_input = int(input("Please enter number:"))
count = 0

while num_input > 10:
    num_input /= 3
    count += 1

print(f"The number can be divided {count} times")

Please enter number: 45

The number can be divided 2 times

**Q6. Use nested while loop to print three different pattern**

In [2]:
# Example 1:
row = 1
while row <= 5:
    col = 5
    while col >= row:
        print(col, end=" ")
        col -= 1
    print()
    row += 1

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [4]:
# Example 2:
row = 1 
while row <= 5:
    col = 1
    while col <= row:
        print(col, end=" ")
        col += 1
    print()
    row += 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [6]:
# Example 3:

row = 1

while row <= 5:
    col = 1
    while col <= row:
        print("*", end=" ")
        col += 1
    print()
    row += 1

*
* *
* * *
* * * *
* * * * *

**Q7. Reverse a while loop to display numbers from 10 to 1.**

In [7]:
# A7.

num_print = 10

while num_print > 0:
    print(num_print)
    num_print -= 1

10
9
8
7
6
5
4
3
2
1

**Q8. Reverse a while loop to display numbers from 10 to 1.

In [8]:
# A8.

num_print = 10

while num_print > 0:
    print(num_print)
    num_print -= 1

10
9
8
7
6
5
4
3
2
1